* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

#root {
  padding: 50px;
  .multi-select-container {
    display: flex;
    flex-direction: column;
    border: 1px solid #E4E4E4;
    border-radius: 5px;
    width: fit-content;
    min-width: 300px;
    .picklist-search-input-container {
      margin-bottom: 3px;
      padding: 8px;
    }
      .picklist-input {
        border-radius: 5px;
        width: 100%;
        padding: 8px;
        border: 1px solid #E4E4E4;
        &:focus {
          outline: 3px solid #2684FF;
        }
    }
    .picklist-container{
      display: flex;
      border-top: 1px solid #E4E4E4;
      flex-direction: column;
      padding: 8px 0px;
      max-height: 170px;
      overflow-y: overlay;
      width: 100%;
        &::-webkit-scrollbar {
          width: 6px;
          height: 10px;
          background: transparent;
          border-radius: 5px;
        }
        &::-webkit-scrollbar-track {
          border-radius: 5px;
        }
        &::-webkit-scrollbar-thumb {
          background: #84B4FF;
          border-radius: 5px;
        }
      .picklist-item {
        display: flex;
        align-items: center;
        padding: 10px 12px;
        gap: 8px;
        input[type=checkbox] {
          appearance: none;
          margin: 0;
          font: inherit;
          width: 1.15em;
          height: 1.15em;
          border: 0.15em solid #b2b8c0;
          border-radius: 0.2em;
          transform: translateY(-0.075em);
          display: grid;
          place-content: center;
          &::before {
            content: "";
            width: 0.65em;
            height: 0.65em;
            clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
            box-shadow: inset 1em 1em var(--form-control-color);
            transform: scale(0);
            transition: 0.1s ease;
            transform-origin: bottom left;
            background: white;
          }
          &:checked::before {
            transform: scale(1);
          }
          &:checked {
            background: #1788d3;
            border: 0px;
          }
        }
        &:hover {
          background: #DEEBFF;
          cursor: pointer;
        }
      }
    }
  }
}